* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1;
}

/* Only looks good in half size */
#content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 3fr 1.5fr;
	justify-items: center;
	align-items: center;
}

/* This image blows up on full screen */
img {
	max-width: 40%;
	height: auto;
}

p {
	text-align: center;
}
